@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root {
    --main-color: #2288ff;
    --second-color: #192f6a;
    --text-color: #314862;
    --bg-color: #fff;

    /* Box Shadow */
    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

section {
    padding: 4.5rem 0 3rem;
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: block;
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
}

.logo .bx {
    font-size: 24px;
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#menu {
    display: none;
}

.btn {
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}

.btn:hover {
    background: #3492fd;
}

/* Home */
.home {
    margin-top: 5rem;
    background: url(file:///C:/Users/HP/Downloads/lycs-architecture-kudbeemcrwe-unsplash-1-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}

.home-text {
    padding-left: 35px;
}

.home-text h1 {
    color: var(--bg-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 2rem;
}

.about-img img {
    border-radius: 2rem 2rem 2rem;
}

.about-text span {
    font-size: 1rem;
    Height: 550px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--main-color);
}

.about-text h2 {
    font-size: 1.7rem;
}

.about-text p {
    font-size: 0.938rem;
    margin: 1rem 0 1rem;
}

.sales {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 2.4rem;
}

.sales .box {
    padding: 20px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 2rem;
}

.sales .box:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.4s all linear;
}

.sales .box .bx {
    padding: 10px;
    border-radius: 50%;
    background: #f6f6fe;
    color: var(--main-color);
    font-size: 20px;
}

.sales .box h3 {
    font-size: 1.1rem;
    margin: 1rem 0 0.4rem;
}

.sales .box p {
    font-size: 00.938rem;
}

/* Properties */
.heading {
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    font-weight: 500;
    color: var(--main-color);
}

.heading h2 {
    font-size: 1.7rem;
}

.heading p {
    font-size: 0.938rem;
}

.properties {
    background: #fbfbfb;
    border-radius: 2rem;
}

.properties-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 3rem;
    padding: 0 50px;
}

.properties-container .box {
    background: var(--bg-color);
    padding: 10px;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.properties-container .box:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

.properties-container .box img {
    border-radius: 1rem;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.properties-container .box h3 {
    font-size: 1rem;
    font-weight: 600;
    float: right;
}

.properties-container .box .content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.properties-container .box .content .text h3 {
    font-weight: 500;
}

.properties-container .box .content .text p {
    font-size: 0.8rem;
}

.properties-container .box .content .icon {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.properties-container .box .content .icon .bx {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.properties-container .box .content .icon span {
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    justify-content: center;
    text-align: center;
}

.newsletter h2 {
    font-size: 1.7rem;
}

.newsletter form {
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    padding: 6px 10px;
    border-radius: 5rem;
}

.newsletter form input {
    border: none;
    outline: none;
    font-size: 1rem;
}

.newsletter #email-box {
    width: 280px;
}

.newsletter .btn {
    padding: 12px 34px;
    font-weight: 500;
    text-transform: uppercase;
}

.footer {
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem 0 0 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 2rem;
}

.footer-container h2 {
    font-size: 1.7rem;
    font-weight: 500;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.footer-box a {
    font-size: 0.8rem;
    color: var(--bg-color);
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.footer-box a:hover {
    color: var(--text-color);
}

.social a {
    font-size: 20px;
    margin-right: 1rem;
}

.social a:hover {
    color: var(--second-color);
}

.copyright {
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--main-color);
}

/* Log IN */
.login {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    min-height: 100vh;
    margin-top: 2rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.login-container h2 {
    font-size: 1.4rem;
}

.login-container p {
    font-size: 0.9rem;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form span {
    font-size: 0.9rem;
    color: #8a8a8a;
    margin-bottom: 4px;
}

.login-container form input {
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 10px;
    margin-bottom: 1rem;
    background: var(--bg-color);
}

.login-container form .buttom {
    outline: none;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 0.85rem;
    font-weight: 500;
}

.login-container form .buttom:hover {
    background: #3492fd;
}

.login-container form a {
    font-size: 0.9rem;
    text-align: right;
}

.login-container .btn {
    border-radius: 0;
    text-align: center;
}

/* Making Responsive */
@media (max-width: 1080px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 880px) {
    section {
        padding: 4rem 0 3rem;
    }

    .properties-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 1rem;
        padding: 0 10px;
    }

    .footer-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 1rem;
    }

    .login {
        grid-template-columns: 0.6fr 1fr;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 10px 0;
    }

    #menu-icon {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-color);
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        transition: 0.6s;
    }

    .navbar a {
        display: block;
        margin: 1rem;
        padding: 20px;
        color: var(--bg-color);
    }

    .navbar a:hover {
        background: var(--main-color);
        color: var(--bg-color);
        transition: 0.2s;
    }

    #menu:checked~.navbar {
        clip-path: circle(144% at 100% 1%);
    }

    .about-text span {
        font-size: 0.9rem;
    }

    .about-text h2,
    .heading h2,
    .newsletter h2 {
        font-size: 1.4rem;
    }
}

@media (max-width: 638px) {
    .about-text {
        text-align: center;
    }

    .about-img {
        order: 2;
    }

    .login {
        grid-template-columns: 0.8fr 1fr;
    }

    .login {
        margin-top: 3rem;
    }
}

@media (max-width: 572px) {
    .login-image {
        display: none;
    }

    .login {
        justify-content: center;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 442px) {
    .home-text {
        padding-left: 14px;
    }

    .home-text h1 {
        font-size: 1.7rem;
    }

    .about-text h2,
    .heading h2,
    .newsletter h2 {
        font-size: 1.2rem;
    }

    .properties-container {
        padding: 0;
    }

    .newsletter #email-box {
        width: 140px;
    }

    .footer {
        border-radius: 3rem 0 0 0;
    }
}