body{
    text-align: center;
}

.menu-wrapper{
    position:relative;
}
.hd1{
    opacity: 20%;
}

h1{
    color: #f97759;
    font-weight: bold;
}
h4{
    color: grey;
}

.tr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
/* #display{
    margin: 30px;
} */
.tr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    border: 1px solid;
    background-image: url("../img/block2.jpg");
    background-size: cover;
    background-position: center;
    opacity: 90%;
}
.tab span {
    display: inline;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2px;
}
.tab input{
    width: 25%;
    padding: .5rem;
    margin: 10px;
}
#b1{
    width: 20%;
}

.tab button {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.desc{
    padding-top: 50%;

}

.button{
    --c: #f97759;
        /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    cursor: pointer;
    padding: .5em 0;
    font-weight: bold;
    border: none;
    margin: 30px;
    width: 10%;
}



.button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}

.button:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #fff;
}

#footer{
    background-color: #f2a897;
}