.header {
    /* background: url("img/newbg.jpg") no-repeatcenter center fixed; */
    color: #FFF;
    height: 1000px;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;
}

.header .overlay {
    background: rgba(26, 76, 121, 0.5);
    width: 100%;
    height: 100%;
}


.header .navbar-default {
    background-color: transparent !important;
    border-color: transparent;
    background-image: none;
    box-shadow: none;
}

.header .navbar-defaul .navlogo {
    padding: 20px
}

.header .navbar-default .navbar-brand {
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    margin-left: 40px;
    color: #FFF;
}

.header .navbar-default .navbar-nav>li {
    margin-left: 26px
}

.header .navbar-default .navbar-nav>li>a {
    font-size: 20px;
    color: #fff;
    border-bottom: 1px solid transparent
}

.header .navbar-default .navbar-nav>li:hover a {
    color: #333;
    border-bottom: 1px solid #FFF
}

.header .nav-links {
    margin-top: 20px;
    margin-left: 50px;
}

.header .navbar-toggle {
    margin: 10px 0;
    background: #36C;
    color: #FFF;
}

.main-body {
    background: url('img/newbg.jpg') no-repeat;
    width: 100%;
}

.btnn {
    --c: #229091;
    font-color: #fff;
    /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}

.btnn:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}

.btnn:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #fff;
}

/* 
body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    gap: 40px;
} */
body{
    background-color:rgb(165, 165, 165);
}

.btnn {
    font-family: system-ui, sans-serif;
    font-size: 2.5rem;
    cursor: pointer;
    padding: .5em 1.6em;
    font-weight: bold;
    border: none;
    color: #fff;

}

#btnn1{
    position: absolute;
    top: 44%;
    left: 20%;
}

#btnn2{
    position: absolute;
    top: 44%;
    right: 20%;
}

#btnn3{
    position: absolute;
    top: 60%;
    left: 33%;
}