@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root {
    --main-color: #2288ff;
    --second-color: #192f6a;
    --text-color: #314862;
    --bg-color: #fff;

    /* Box Shadow */
    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}


.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: block;
    width: 100%;
    background: var(--bg-color);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: aliceblue;
    text-transform: uppercase;
}

.logo .bx {
    font-size: 24px;
    color: var(--main-color);
}


.btn {
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}

.btn:hover {
    background: #3492fd;
}



.login {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    min-height: 100vh;
    margin-top: 2rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.login-container h2 {
    font-size: 1.4rem;
    color: #29451F;
}

.login-container p {
    font-size: 0.9rem;
    color: aliceblue;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form span {
    font-size: 0.9rem;
    color:black;
    margin-bottom: 4px;
}

.login-container form input {
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 10px;
    margin-bottom: 1rem;
    background: var(--bg-color);
}

.login-container form .buttom {
    outline: none;
    border: none;
    background:#29451F;
    color: var(--bg-color);
    font-size: 0.85rem;
    font-weight: 500;
}

.login-container form .buttom:hover {
    background: #d3d3d3;
}

.login-container form a {
    font-size: 0.9rem;
    text-align: right;
}

.login-container .btn {
    border-radius: 0;
    text-align: center;
}

.login-image{
    padding: 100px;
    text-align: center;
}