html,
body {
    height: 120%;
}

body {
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
}
#agent-report-tab{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tables-view{
    height:90%;
    margin: 10% 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y:auto;
}

#tables-view-agent{
      height:60%;
      margin-top:5%;
      margin-bottom:2%;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow-y:auto;
}


.container-tab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: left;
}

th {
    background-color: #55608f;
}

td:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
tr:hover{
        background-color: rgba(255, 255, 255, 0.3);
}

#rep-img{
    position: relative;
    display:block;
    top:60%;
    width: 40%;
    height: 50%;
    left:20%

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: #000;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: aliceblue;
    text-transform: uppercase;
}

.logo .bx {
    font-size: 24px;
    color: var(--main-color);
}